@font-face {
	font-family: 'Rubik';
	src: url('/fonts/rubik/Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik-Medium';
	src: url('/fonts/rubik/Rubik-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
