html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: 'Rubik';
	color: #433831;
	margin: 0;
}
h1,
h3 {
	font-family: 'Rubik-Medium';
	margin: 0;
}

h1 {
	text-transform: uppercase;
	font-size: 3rem;
}
h2 {
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 2rem;
	margin: 0;
}
a {
	font-family: 'Rubik-Medium';
	color: #433831;
	transition: all 0.2s ease-in-out;
}
a:hover {
	opacity: 0.9;
}

section {
	min-height: 80vh;
}

.content {
	margin: 1em;
}
